@page "/foundContact"
@using BlazorApp2.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Buscar Contacto</PageTitle>

<h1>Buscar Contacto</h1>

<p>Ingresa el nombre del contacto a buscar</p>

<div class="FormCss">
    <EditForm Model = "@contact" OnValidSubmit="@FoundContact">
    <DataAnnotationsValidator />
        <div class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
                <div class="form-floating">
                    <InputText id="nameContact" class="form-control" @bind-Value="contact.name"/>
                    <label for="nameContact">Nombre</label>
                </div>
            </div>
            <div class="col-auto">
                <div>
                    <button class="btn btn-success" type="submit" @onclick= "FoundContact">Buscar Contacto</button>
                </div>
            </div>
            <br>
        </div>

        <div class="alert alert-secondary mt-4">
            @if (contact != null)
            {
                <span class="oi oi-action-undo me-2">
                    <span class="text-success">
                        @message
                    </span>
                </span>
                } else{
                <span class="oi oi-circle-x me-2">
                    <span class="text-danger">
                        @message
                    </span>
                </span>
            }
        </div>
    </EditForm>
</div>

<br>

@if (contact == null)
{
    <p><em>Obteniendo los datos...</em></p>
} else{
    <table class="table table-stripede">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre </th>
                <th>Telefóno </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@contact.id</td>
                <td>@NameContact</td>
                <td>@CellPhone</td>
            </tr>
        </tbody>
    </table>
}

@code
{
    private Contact contact = new();
    private Contact _contact;
    private string NameContact;
    private string CellPhone;
    private string message = "";
    private async Task FoundContact()
    {
        try{
            contact = await Http.GetFromJsonAsync<Contact>($"/api/Contact/" + contact.name);

            if ( contact != null)
            {
                NameContact = contact.name;
                CellPhone = contact.cellPhone;
                message = "Aquí puedes visualizar el contacto que buscabas.";
            } else{
                message = "El contacto que buscas no existe. Intenta con otro o revisa ortografía.";
            }
        } catch(Exception){
        }
    }
}